input-layer1e-weights.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/comptine_0.25_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/comptine_0.25_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/comptine_0.5_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/comptine_0.5_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/comptine_1.0_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/comptine_1.0_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/comptine.mid filter=lfs diff=lfs merge=lfs -text
test_inputs/scale_0.5_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/scale_0.5_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/scale_1.0_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/scale_1.0_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/scale_2.0_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/scale_2.0_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/scale-three_notes_0.5_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/scale-three_notes_0.5_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/three_notes_0.5_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/three_notes_0.5_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/three_notes_1.0_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/three_notes_1.0_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/three_notes_2.0_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/three_notes_2.0_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/two_notes_0.5_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/two_notes_0.5_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/two_notes_1.0_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/two_notes_1.0_s.wav filter=lfs diff=lfs merge=lfs -text
test_inputs/two_notes_2.0_s.pickle filter=lfs diff=lfs merge=lfs -text
test_inputs/two_notes_2.0_s.wav filter=lfs diff=lfs merge=lfs -text
FluidR3[[:space:]]GM2-2.SF2 filter=lfs diff=lfs merge=lfs -text
